.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  font-size: 18px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: background-color 0.3s;
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 32px;
  background-color: white; 
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.button::before {
  top: 0;
  left: 0;
  width: 42px;
  height: 53px;
  -webkit-mask-image: url('/svg/border-angle-mob-l.svg');
  mask-image: url('/svg/border-angle-mob-l.svg');
}

.button::after {
  bottom: 0;
  right: 0;
  width: 42px;
  height: 53px;
  -webkit-mask-image: url('/svg/border-angle-mob-r.svg');
  mask-image: url('/svg/border-angle-mob-r.svg');
}

.button:hover{
  background: rgba(255, 255, 255, 0.2);
}