@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: #374b1c;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 16px; 
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}

li {
  list-style: none;
}

.paddingY{
  padding: 56px 0;
  
}
@media (min-width: 768px) {
  .paddingY {
    padding: 64px 0; 
  }
}

@media (min-width: 1280px) {
  .paddingY {
    padding: 105px 0; 
  }
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -1.6px;
}

@media (min-width: 768px) {
  .title {
    font-size: 67px; 
    line-height: 1.2;
    letter-spacing: -2.68px;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 98px; 
  }
}
.title span {
font-weight: 100;
}

.text {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.43;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .text {
    font-size: 16px; 
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  .text {
    font-size: 18px; 
    line-height: 1.33;
  }
}

.text span{
  font-weight: 400;
}

.icon-before::before {
  content: '';
  display: inline-block;
  width: 10px; 
  height: 10px;
  background-image: url('/svg/check.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px; 
}


.fade {
  transition: all 0.5s ease-in-out;
}


.link {
  position: relative;
  cursor: pointer;
  overflow: hidden; 
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  width: 100%;
  height: 1px;
  background-color:white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::after, .link:focus::after {
  transform: scaleX(1);
}




.mySwiper {
  width: 100%; 
  max-width: 1280px; 
  margin: 0 auto; 
  
}

@media (min-width: 768px) {
  .mySwiper {
    max-width: 704px;
  }
}

@media (min-width: 1280px) {
  .mySwiper {
    max-width: 1280px; 
  }
}



/* .swiper-wrapper {
  width: 100%; 
  max-width: 704px; 
}

.mySwiper .swiper-slide {
  height: auto; 
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
}
.mySwiper .swiper-slide-active {
  width: 415px !important;
  opacity: 1 !important;
  transform: scale(1) !important;
} */

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {

  opacity: 0.5 !important;
}

/* .mySwiper .swiper-slide-next ~ .swiper-slide,
.mySwiper .swiper-slide-prev ~ .swiper-slide {
  width: 75px; 
  opacity: 0.5;
  transform: scale(0.7);
} */

/* .mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

/* .swiper-slide .swiper-slide-visible .swiper-slide-fully-visible .swiper-slide-next {
  width: 100px;
  height: 50px;
} */