@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: #374b1c;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 16px; 
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}
 /* padding-sections */
.paddingY{
  padding: 56px 0;
  
}
@media (min-width: 768px) {
  .paddingY {
    padding: 64px 0; 
  }
}

@media (min-width: 1280px) {
  .paddingY {
    padding: 105px 0; 
  }
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -1.6px;
}

@media (min-width: 768px) {
  .title {
    font-size: 67px; 
    line-height: 1.2;
    letter-spacing: -2.68px;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 98px; 
  }
}
.title span {
font-weight: 100;
}




.text {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.43;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .text {
    font-size: 16px; 
    line-height: 1.25;
  }
}

@media (min-width: 1280px) {
  .text {
    font-size: 18px; 
    line-height: 1.33;
  }
}

.text span{
  font-weight: 400;
}