
.input {
  font-size: 13px;
  font-weight: 200;
  line-height: 1.84;
  width: 280px;
  height: 24px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  outline: none; 
  color: #ffffff;
}

@media (min-width: 768px) {
  .input {
    width: 222px;
  }
}
@media (min-width: 1280px) {
  .input {
    font-size: 20px;
    width: 291px;
    height: 28px;
  }
}

.error-color {
  color: rgb(255, 87, 87); 
}

.input.pl {
  padding-left: 40px;
}
@media (min-width: 1280px) {
  .input.pl  {
    padding-left: 56px;
  }
}

.input.textarea {
  height: 196px;
  background: rgba(255, 255, 255, 0.05);
  resize: none;
}
@media (min-width: 768px) {
  .input.textarea  {
    height: 228px;
  }
}
@media (min-width: 1280px) {
  .input.textarea  {
    height: 268px;
  }
}

.input.contactTextarea {
  height: 193px;
  background: rgba(255, 255, 255, 0.05);
  resize: none;
}
@media (min-width: 768px) {
  .input.contactTextarea  {
    width: 463px;
    height: 221px;
  }
}
@media (min-width: 1280px) {
  .input.contactTextarea  {
    width: 607px;
    height: 174px;
  }
}



.label {
  font-size: 12px;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2.4px;
  margin-bottom: 4px;
  color: #ffffff;
}
.label-error {
  color: rgb(255, 87, 87); /* цвет ошибки */
}

.err-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.err {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2.4px;
  color: rgb(255, 87, 87);
  text-align: right;
  margin-left: 10px;
  display: inline-block;
}
.err::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -20px;
  
  width: 18px;
  height: 18px;
  background-color: rgb(255, 87, 87); 
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url('/svg/err.svg');
  mask-image: url('/svg/err.svg');
}


.custom-checkbox {
  appearance: none;
  min-width: 22px;
  height: 22px;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: black;
  margin-right: 8px;
  margin-bottom: 24px;
  padding: 2px;
}
@media (min-width: 1280px) {
  .custom-checkbox  {
    min-width: 28px;
    height: 28px;
  }
}

.custom-checkbox:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.1); 
}
@media (min-width: 1280px) {
  .custom-checkbox:before  {
    min-width: 16px;
    height: 16px;
  }
}

.custom-checkbox:checked:before {
  background-color: white; 
}